@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-title {
    display: flex;
    justify-content: space-between;
    width: 1920px;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 50px 340px;
}
.hd{
    display: flex;
}


.banner {
    display: flex;
    justify-content: space-between;
}

.banner-sec {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #3C354F;
    gap: 30px;
   
}

.span {
    color: #FF42A5;
}

.text-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.banner-content {
    color: #0B0223;
    color: #534C64;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.btn-primary {
    color: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));


}

.primary {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}


.team-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F144AE";

}

.main {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.medium {
    text-align: center;
}

.image-container {
    width: 140px;
    height: 200px;
    background: #FFF;
    display: flex;
    gap: 24px;
    padding-left: 270px;

}

.color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.teams-content {
    display: flex;
    border: 400px;
    text-align: center;
    padding-top: 100px;
}

.teams-container {
    padding-top: 250px;
    left: 300px;
}

.normal {
    width: 70%;
    align-items: center;
    padding-left: 300px;
    position: relative;

}

.ima {
    position: relative;
    bottom: 300px;
    right: 300px;

}

.icon-image {
padding-bottom: 50px;
    padding-left: 200px;
    gap: 20px;

}

.icon {
    padding-left: 200px;
    row-gap: 60px;
}

.icon-container {
    width: 90%;
    flex-wrap: wrap;
    gap: 30px;

}

.spa {
    color: #FFF;
    
   

}
.amar{
    color: #FFF;
}

.sp {
    color: #FFF;
}
.fot{
    color: #FFF;
    padding-top: 300px;
    display: flex;
    text-align: center;
    gap: 60px;
}




.last-sec-container{
    display: grid;
    grid-template-columns:  repeat(5, auto);
    padding-left: 80px;
    margin-top: -230px;
    gap: 20px;
}

.second{
    display: flex;
    gap: 10px;
}
.second:hover{
    border: 2px solid red;
    border-radius: 40px;
    color: #FF42A5;
}

.foot{
    background: #0B0223;
    padding-top: 50px;
    padding-bottom: 100px;
}
.footer-img{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.title{
    color: #FFF;
    justify-content: center;
    font-family: work sans;
    font-weight: 600;
    display: flex;
    list-style: none;
    gap: 3.1rem;
}
.title-icon{
    text-align: center;
    padding-top: 40px;
    gap: 12.5rem;
    padding-bottom: 30px;
}